* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

::-webkit-scrollbar {
	display: none;
}

li {
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit; 
}

a:link{
	color:inherit;
}

a:visited{
  color:inherit;
}

a:hover{
  color:inherit;
}

a:active{
  color:inherit;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
			
html {
	color: #fff;
	letter-spacing: .1rem;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	min-height: calc(100% + env(safe-area-inset-top));
	font-weight: 600;
}
			
body {
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/bgs/bg-gray.jpg);
}

.bgI0 {
	background-image: url(../images/bgs/bg-abstract.jpg);
}
.bgI1 {
	background-image: url(../images/bgs/bg-black-red.jpg);
}
.bgI2 {
	background-image: url(../images/bgs/bg-black.png);
}
.bgI3 {
	background-image: url(../images/bgs/bg-flowers.jpg);
}
.bgI4 {
	background-image: url(../images/bgs/bg-gray.jpg);
}
.bgI5 {
	background-image: url(../images/bgs/bg-lightblue.jpg);
}
.bgI6 {
	background-image: url(../images/bgs/bg-marble.jpg);
}
.bgI7 {
	background-image: url(../images/bgs/bg-pink-blue-space.jpg);
}
.bgI8 {
	background-image: url(../images/bgs/bg-pink-blue.jpg);
}
.bgI9 {
	background-image: url(../images/bgs/bg-polygon.jpg);
}
.bgI10 {
	background-image: url(../images/bgs/bg-snowfall.jpg);
}
.bgI11 {
	background-image: url(../images/bgs/bg-wall-dark.jpg);
}
.bgI12 {
	background-image: url(../images/bgs/bg-wall.jpg);
}