header {
	width: 100%;
	height: 30%;
	opacity: .5;
	display: flex;
	justify-content: center;
	align-items: center;
	background: center no-repeat;
	background-image: url(../images/flags/spain-flag.jpg);
	background-size: cover;
}

main {
	height: 70%;
}

main ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

main ul li {
	background-image: linear-gradient(175deg, rgba(198, 3, 31, 0.01), rgba(198, 3, 31, 0.2));
	box-shadow: 0 2px 2px rgba(0,0,0,.3), 0 2px 2px rgba(255,255,255,.3) inset;
}

main ul li a {
	display: block;
	width: 100%;
	font-size: 3rem;
	padding: 1.5rem;
	text-align: center;
	color: whitesmoke;
	text-shadow: 0 0 20px black;
}

main ul li:nth-child(2),
main ul li:nth-child(3) {
	background-image: linear-gradient(175deg, rgba(255, 193, 45, 0.01), rgba(255, 193, 45, 0.2));
}




.jump-wrapper {
	width: 100vw;
  text-align: center;
	position: absolute;
	top: 10vh;
}
.jump-wrapper span {
	font-size: 4rem;
  text-shadow: 0 0px rgba(255, 193, 45, 0.9), 0 0px rgba(255, 193, 45, 0.5);
  transform: translate(0, 100%) rotate(4deg);
  animation: jump 2s ease-in-out infinite;
  display: inline-block;
  color: #fff;
	margin: 0 .5rem;
	text-shadow: 0 5px 20px black;
}
.jump-wrapper span:nth-child(1) {
	animation-delay: 120ms;
}
.jump-wrapper span:nth-child(2) {
	animation-delay: 240ms;
}
.jump-wrapper span:nth-child(3) {
	animation-delay: 360ms;
}
.jump-wrapper span:nth-child(4) {
	animation-delay: 480ms;
}
.jump-wrapper span:nth-child(5) {
	animation-delay: 600ms;
}
.jump-wrapper span:nth-child(6) {
	animation-delay: 720ms;
}
.jump-wrapper span:nth-child(7) {
	animation-delay: 840ms;
}
.jump-wrapper span:nth-child(8) {
	animation-delay: 960ms;
}
.jump-wrapper span:nth-child(9) {
	animation-delay: 1080ms;
}

@keyframes jump {
	33% {
		text-shadow: 0 10px rgba(198, 3, 31, 0.9), 0 30px rgba(198, 3, 31, 0.5);
  }
  50% {
		transform: translate(0, 0) rotate(-4deg);
    text-shadow: 0 0px rgba(255, 193, 45, 0.9), 0 0px rgba(255, 193, 45, 0.5);
		text-shadow: 0 -10px 20px rgba(255, 255, 255, 0.3);
  }
  66.67% {
    text-shadow: 0 -10px rgba(198, 3, 31, 0.9), 0 -30px rgba(198, 3, 31, 0.5);
  }
}



