.modal {
	display: none;
	background-color: #777;
	z-index: 9999;
}
.dark .modal {
	background-color: #000;
}

@media screen and (orientation: landscape) {
	.modal {
		display: block;
		height: 100%;
		width: 100%;
		padding: 5%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: calc(100% + env(safe-area-inset-top));;
	}
	.modal img {
		transform: rotate(90deg);
		height: 100%;
	}
	.modal p {
		font-size: 2rem;
		text-align: center;
	}
}