.modal {
	display: none;
}

@media screen and (orientation: landscape) {
  html, body {
		height: 100%;
		width: 100%;
  }
	.modal {
		display: block;
		height: 100%;
		width: 100%;
		background-color: dimgray;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.modal img {
		transform: rotate(90deg);
		height: 100%;
	}
	.modal p {
		font-size: 2rem;
		color: #fff;
		text-align: center;
	}
}
