header {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-image: linear-gradient(175deg, rgba(198, 3, 31, 0.01), rgba(198, 3, 31, 0.6));
	box-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.dark header {
	background-image: linear-gradient(175deg, rgba(198, 3, 31, 0.01), rgba(198, 3, 31, 0.4));
}

header h1 {
	font-size: 3rem;
	padding-bottom: .5vh;
}

main {
	height: 90%;
	overflow: hidden;
}

.simple {
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.simpleBox {
	border-radius: 20px;
	height: 60%;
	width: 70%;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.3);
}

.simple .simpText {
	font-size: 3rem;
}

form {
	height: 50%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: rgba(0,0,0,.2);
	box-shadow: 0 2px 2px rgba(0,0,0,.3), 0 2px 2px rgba(255,255,255,.3) inset;
}

form .fontSizeForm,
form .fontFamForm,
form .fontCoForm,
form .bgImgForm,
form .toggle-buttons {
	height: 70px;
	margin: 10px 0;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}

form .fontFamForm,
form .bgImgForm {
	overflow-x: scroll;
	justify-content: flex-start;
}

form .bgImgForm {
	height: 150px;
}

form .fontSizeForm input,
form .fontFamForm input,
form .fontCoForm input,
form .bgImgForm input {
	display: none;
}

form .fontSizeForm label,
form .fontFamForm label,
form .fontCoForm label,
form .bgImgForm label {
	height: 70%;
	padding: 0 15px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(175deg, rgba(255, 193, 45, 0.01), rgba(255, 193, 45, 0.6));
	cursor: pointer;
}
.dark form .fontSizeForm label,
.dark form .fontFamForm label,
.dark form .fontCoForm label,
.dark form .bgImgForm label {
	background-image: linear-gradient(175deg, rgba(255, 193, 45, 0.01), rgba(255, 193, 45, 0.4));
}

form .bgImgForm label {
	height: 85%;
	padding: 10px 15px;
}

form .bgImgForm label img {
	height: 100%;
	width: 55px;
	border-radius: 5px;
}

form .fontFamForm label,
form .bgImgForm label {
	font-size: 30px;
	margin: 0 10px;
}
form .fontCoForm label {
	font-size: 35px;
}

form .fontSizeForm input:checked + label,
form .fontFamForm input:checked + label,
form .fontCoForm input:checked + label,
form .bgImgForm input:checked + label {
	background-image: linear-gradient(175deg, rgba(198, 3, 31, 0.01), rgba(198, 3, 31, 0.6));
}
.dark form .fontSizeForm input:checked + label,
.dark form .fontFamForm input:checked + label,
.dark form .fontCoForm input:checked + label,
.dark form .fonbgImgFormtCoForm input:checked + label {
	background-image: linear-gradient(175deg, rgba(198, 3, 31, 0.01), rgba(198, 3, 31, 0.4));
}

form .fontSizeForm label:nth-child(2) {
	font-size: 25px;
}
form .fontSizeForm label:nth-child(4) {
	font-size: 30px;
}
form .fontSizeForm label:nth-child(6) {
	font-size: 35px;
}
form .fontSizeForm label:nth-child(8) {
	font-size: 40px;
}
form .fontSizeForm label:nth-child(10) {
	font-size: 45px;
}

form .fontFamForm label:nth-child(2) {
	font-family: 'Comfortaa', cursive;
}
form .fontFamForm label:nth-child(4) {
	font-family: 'Hubballi', cursive;
}
form .fontFamForm label:nth-child(6) {
	font-family: 'Montserrat', sans-serif;
}
form .fontFamForm label:nth-child(8) {
	font-family: 'Open Sans', sans-serif;
}
form .fontFamForm label:nth-child(10) {
	font-family: 'Red Hat Mono', monospace;
}
form .fontFamForm label:nth-child(12) {
	font-family: 'Roboto', sans-serif;
}
form .fontFamForm label:nth-child(14) {
	font-family: 'Varela Round', sans-serif;
}

form .fontCoForm label:nth-child(2) {
	color: #fff;
}
form .fontCoForm label:nth-child(4) {
	color: #aaa;
}
form .fontCoForm label:nth-child(6) {
	color: #555;
}
form .fontCoForm label:nth-child(8) {
	color: #000;
}

.toggle-button-cover {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.knobs, .layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.button {
	position: relative;
	width: 120px;
	height: 50px;
	margin: 0 auto;
	overflow: hidden;
}

.knobs:before, .knobs:after, .knobs span {
	position: absolute;
	top: 4px;
	width: 46px;
	height: 24px;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 9px 4px;
	border-radius: 5px;
	transition: .5s ease all;
}

#d2-d3 .knobs span {
	font-weight: bold;
}

.knobs:before {
	content: '';
	left: 4px;
	background-image: linear-gradient(175deg, rgba(198, 3, 31, 0.01), rgba(198, 3, 31, 0.6));
}

#light-dark .knobs:after {
	content: 'dark';
	right: 2px;
	color: #000;
}

#d2-d3 .knobs:after {
	content: '3D';
	right: 1px;
	color: #fff;
	font-weight: bold;
}

.knobs span {
	display: inline-block;
	left: 5px;
	color: #fff;
	z-index: 1;
}

#d2-d3 .knobs span {
	left: 10px;
}

.checkbox:checked + .knobs:before {
	left: 62px;
	background-image: linear-gradient(175deg, rgba(198, 3, 31, 0.01), rgba(198, 3, 31, 0.4));
}

.checkbox:checked ~ .layer {
	background-image: linear-gradient(175deg, rgba(255, 193, 45, 0.01), rgba(255, 193, 45, 0.4));
}

.checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

.knobs {
	z-index: 2;
}

.layer {
	width: 100%;
	background-image: linear-gradient(175deg, rgba(255, 193, 45, 0.01), rgba(255, 193, 45, 0.6));
	z-index: 1;
}



body > a {
	position: fixed;
	bottom: 50px;
	right: 50px;
	padding: 20px;
	background-color: aquamarine;
	border-radius: 10px;
}

body > a:nth-child(4) {
	left: 50px;
	right: auto;
}